{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block content %}
<main class="container">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 post">
            <!-- Blogpost -->
            {% for post in posts %}
            <div class="card">
               <img src="{{post.img.url}}" class="card-img-top" alt="...">
               <div class="card-body">
                  <ul class="post-meta" style="list-style-type: none; padding-left: 0px;">
                     <li><i class="fa fa-tag"></i><a>{{post.category}}</a></li>
                     <li><i class="fa fa-comment"></i><a>{{ post.comments.all.count }} Comments</a></li>
                     <li><i class="fa fa-user"></i><a>Post By {{post.author.first_name}}</a></li>
                     <li><i class="fa fa-clock-o"></i><a>{{post.post_date | date:'d F'}}</a></li>
                  </ul>
                  <a style="text-decoration:none; color:black" href="{% url 'blog-detail' post.slug %}">
                     <h5 class="card-title">{{post.title}}</h5>
                  </a>
                  <p class="card-text">{{post.body | slice:':250' | safe}}...</p>
                  <a href="{% url 'blog-detail' post.slug %}"><button type="button" class="btn btn-lg btn-dark">Read More</button></a>
               </div>
            </div>
            {% endfor %}
            <!-- End Blogpost -->
            <!--pagination  -->
            <nav aria-label="...">
               <ul class="pagination">
                  {% if is_paginated %}
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" style="color:black" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                  {% endif %}
                  {% for num in page_obj.paginator.page_range %}
                  {% if num == page_obj.number %}
                  <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
                  {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{num}}">{{num}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                  {% endif %}
                  {% endif %}
               </ul>
            </nav>
            <!-- End pagination -->
         </div>
         <!-- Sidebar -->
         {% block sidebar %}
         {% include 'sidebar.html' %}
         {% endblock %}
         <!-- End Sidebar -->
      </div>
   </div>
</main>
{% endblock %}